body {
    margin: 0;
    padding: 0;
    color: rgba(60, 60, 60, 1);
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
}

a, a:visited {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    width: 1120px;
}

.white {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

main {
    
}

section {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section .section-header {
    
}

section .section-subheader {
    
}

button {
    transition: all 0.2s;
    background-color: transparent;
    font-size: 16px;
    border: 1px solid rgba(55, 235, 224, 1);
    color: rgba(55, 235, 224, 1);
    line-height: 40px;
    padding: 0 40px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

button:active {
    background-color: rgba(255, 255, 255, 0.3);
}
